/stt
/vector-cloud/build/vic-cloud
/source.sh
/vector-cloud/build
/certs
/vector-cloud/packagesGotten
/vector-cloud/cloud/cert.go
/aarch64
/armarch
/processOnce
/ssh_root_key
/.vscode
/botConfig.json
/.vscode
/useepod
/pico.key
/libvosk.so
/vosk
/customIntents.json
/botConfig.json
/jdocs/*.json
/nvm
/apiConfig.json
/session-certs/0*
/vbuild/vic-toolchain
/vbuild
/vbuild/botpack.tar.gz
/windows/tmp
/windows.exe
/windows/*.zip
/windows/*.exe
/vbuild/built-libs
/windows/libs
/windows/opus
/windows/ogg
/windows/.aptDone
/macos/libs
/macos/target
.DS_Store
